<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/styles.css}">
    <title>All Users</title>
</head>
<body>
<div class="center">
    <h2>Users</h2>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="userID : ${all}">
            <tr>
                <td th:text="${userID.id}">ID</td>
                <td th:text="${userID.name}">Name</td>
                <td th:text="${userID.surname}">Surname</td>
                <td th:text="${userID.email}">Email</td>
                <td class="tg-action">
                    <div>
                        <a class="link-button" th:href="@{/updateInfo(id=${userID.id})}">Update</a>
                    </div>
                    <div>
                        <a class="link-button" th:href="@{/deleteUser(id=${userID.id})}">Delete</a>
                    </div>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
</body>
</html>