<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/styles.css}">
    <title>User Manager</title>
</head>
<body>
<div class="center">
    <h2>User Manager</h2>
    <h3><a href="/addNewUser">New User</a></h3>
    <table class="tg center">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="usr : ${all}">
            <tr>
                <td th:text="${usr.id}">ID</td>
                <td th:text="${usr.name}">Name</td>
                <td th:text="${usr.surname}">Surname</td>
                <td th:text="${usr.email}">Email</td>
                <td class="tg-action">
                    <div>
                        <a class="link-button" th:href="@{/updateInfo(id=${usr.id})}">Update</a>
                    </div>
                    <div>
                        <a class="link-button" th:href="@{/deleteUser(id=${usr.id})}">Delete</a>
                    </div>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
</body>
</html>